@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

/* Base Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 50%;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: 4px;
  margin-right: 4px;
  color: #344563;
  transition-property: color, font-size;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
}

/* h1 is for title */
h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 1.6rem;
  color: #172b4d;
  transition-property: font-size;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
  animation: appearUp 0.7s ease-in;
}

/* h2 is for grey big texts */
h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 1.6rem;
  color: #172b4d;
  transition-property: font-size;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
}

.green {
  color: #36b37f;
}

/* h5 is for logo */
h5 {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #28352f;
}

/* h4 is for grey text inside cards */
h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #344563;
  margin-top: 16px;
  margin-bottom: 16px;
}

p {
  font-weight: 400;
  font-size: 20px;
  margin: 3.6rem;
  text-align: center;
}

/* li is for icons and tags */
li {
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

.about-me {
  background-image: url(../images/about-background.png);
  height: 389px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.headline-section {
  height: 100vh;
  background-image: url("images/mobile-header-illustration.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: white;
  width: 100%;
  display: inline-flex;
  position: fixed;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 500;
}

.icons {
  padding-top: 20px;
}

.scroller-icon {
  padding-top: 35px;
}

.grey-icon {
  height: 20px;
  width: 20px;
  margin-right: 7px;
  margin-left: 7px;
}

.grey-icon:hover {
  animation-delay: 2s;
  scale: 1.4;
  transition: all 300ms ease;
}

.logo {
  animation: move-right 2s ease-in-out;
}

.logo:hover {
  animation-delay: 2s;
  transform: scale(1.2);
  transition: all 00.3s ease-in-out;
}

@keyframes move-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    transform: translateX(25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  50% {
    transform: translateX(-25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearUp {
  0% {
    opacity: 0;
    transform: translateY(+50px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
  }
}

.down-button {
  height: 40px;
  width: 40px;
}

.header {
  z-index: -20;
}

.header-content {
  width: 100%;
  position: relative;
  top: 10%;
  text-align: center;
}

.description {
  margin-top: 10%;
  font-weight: 400;
  font-style: normal;
  color: #172b4d;
}

/* mobile version */

#hamburger {
  display: flex;
  flex-direction: column;
  background: rgb(119, 213, 161);
  padding: 4px 5px;
  z-index: 100;
  margin: 0 26rem;
  border-radius: 5px;
  margin-right: 0;
  margin-left: auto;
}

.nav-elements {
  animation: appear 1s ease-in;
}

@media only screen and (max-width: 768px) {
  .nav-elements {
    display: none;
  }

  .resume-button {
    margin: 24px auto 24px auto;
  }
}

@media only screen and (max-width: 766px) {
  .nav-elements {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    top: 0;
    right: -150%;
    backdrop-filter: blur(6px);
    background-color: #77d5a1;
    transition: 0.7s ease-in-out;
    z-index: 1;
  }

  .nav-elements.slide {
    right: 0;
    bottom: 0;
  }

  .nav-link {
    position: inline;
    top: 6rem;
    margin: 0.5rem 1rem;
    color: #163a2b;
    border-bottom: 1px solid;
  }

  a {
    letter-spacing: 1px;
    font-size: 32px;
    font-weight: 600;
  }

  #hamburger.slide .line:nth-of-type(1) {
    transform: rotate(45deg) translateX(4.2px) translateY(4.2px);
    background-color: #163a2b;
  }

  #hamburger.slide .line:nth-of-type(2) {
    opacity: 0;
  }

  #hamburger.slide .line:nth-of-type(3) {
    transform: rotate(-45deg) translateX(4.2px) translateY(-4.2px);
    background-color: #163a2b;
  }
}

.line {
  height: 2px;
  width: 15px;
  background-color: #151d19;
  border-radius: 5rem;
  margin: 2px 0;
  transition: 1s ease;
  z-index: 200;
}

.overflow {
  overflow: hidden;
}

/* desktop version - more than 768px */

@media only screen and (min-width: 768px) {
  .headline-section {
    background-image: url("images/desktop-header-llustration.png");
  }

  .header-content {
    width: 80%;
    margin: 0 auto 0 auto;
    padding-top: 45px;
  }

  .container {
    width: 100%;
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
    display: flex;
    align-content: space-evenly;
    justify-content: space-around;
  }

  .description {
    margin: 5% auto 6% auto;
    width: 70%;
  }

  .skillcard-container {
    width: 80%;
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
    display: flex;
    align-content: space-evenly;
    justify-content: space-around;
  }

  .bottom-line {
    border-bottom: 1px solid #6b778c;
    width: 80%;
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .email {
    display: none;
  }

  .icons {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .container-title {
    width: 40%;
    display: inline-flex;
    margin-top: 45px;
    margin-bottom: 55px;
    text-align: right;
  }

  .contact-form {
    padding-top: 45px;
    padding-bottom: 30px;
  }

  #hamburger {
    display: none;
  }

  h5 {
    display: none;
  }

  nav {
    justify-content: center;
  }

  .resume-button {
    margin-left: 0;
  }
}

/* Works section */

.tags {
  margin-top: 8px;
  margin-bottom: 29px;
  display: flow-root;
  text-align: center;
}

.project-tag {
  display: inline-block;
  margin: 4px;
  color: #3a4a42;
  background-color: #ebf0ee;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border: 0;
  border-radius: 4px;
}

.project-tag:hover {
  background-color: #acefd4;
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.skill-tag {
  display: inline-block;
  margin: 4px;
  color: #36b37f;
  background-color: white;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border: 0;
  border-radius: 4px;
}

.skill-tag:hover {
  background-color: #dfe4e3;
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

button {
  background-color: #237b56;
  color: white;
  padding: 13px;
  margin: auto;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  margin-bottom: 24px;
}

.resume-button {
  margin-top: 24px;
}

.recent-works {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.indicator {
  background-image: url("images/Indicator.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 4px;
  margin-top: 24px;
  margin-bottom: 35px;
}

/* Container with CSS Grid */

.container {
  flex-wrap: wrap;
  display: flex;
  align-content: space-evenly;
  justify-content: space-around;
}

/* Card with Flexbox */

.card {
  box-sizing: border-box;
  display: flex;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
  height: 474px;
  width: 320px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
  padding-top: 25px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.project {
  height: 222px;
  width: 327px;
  background-color: #fff;
  justify-self: stretch;
  align-self: end;
  border-radius: 8px;
  display: inline-table;
}

.skillcard {
  display: flex;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
  height: 352px;
  width: 327px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
  transition: all 0.2s ease-in-out;
}

.skillcard:hover {
  transform: scale(1.05);
}

.skillcard-icon {
  width: 130px;
  height: 130px;
  margin-top: 40px;
}

.hoverme {
  background-color: #237b56;
}

.hoverme:hover {
  background-color: #037546;
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.form-text {
  font-size: 15px;
  padding: 15px;
  width: 327px;
  margin: 0 auto 10px auto;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  background-image: url(images/illustration-contact-form.svg);
  background-position: right bottom;
  background-position-y: 630px;
  background-repeat: no-repeat;
}

#input-container {
  display: flex;
  flex-direction: column;
}

input::placeholder {
  font-size: 15px;
  padding: 15px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #6b778c;
}

textarea {
  overflow: hidden;
  max-width: 100%;
  min-height: 50px;
  height: 114px;
}

textarea::placeholder {
  font-size: 15px;
  padding: 15px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #6b778c;
}

.container-title {
  margin-top: 45px;
  margin-bottom: 55px;
}

.email {
  margin-top: 20px;
  margin-bottom: 190px;
  color: #6b778c;
}

h1:hover {
  font-size: 43px;
}

a:hover {
  color: rgb(38, 120, 1);
  font-size: 2rem;
}

.invisible-label {
  display: none;
}
